
@import url(https://fonts.googleapis.com/css?family=Raleway);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

header {
    position: sticky;
    top: 0px;
}

/* nav | Burger */
html, body {
  height: 100%;
}

#logo {
  width: 180px;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  color: #000;
  height: 50px;
  padding: 1em;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu li>a {
    color: #555;
    text-decoration: none;
    font-size: 1.2em;
}

.menu li>a:hover {
    color: #00ad79;

}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #000;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #fff;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

main {
  display: flex;
  flex-wrap: wrap;
}

#foto {
    width: 100%;
    display: flex;
    justify-content: center;
}

#foto>img {
    width: 100%;
    max-width: 800px;
    object-fit: cover;
}

.hello {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
}

/* snow forecast */

#clima {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#clima>p {
  padding: 0 1rem;
}

@media (min-width: 700px) {

  #clima>p {
  font-size: 1.2rem;
  }

  main {
    flex-wrap: nowrap;
  }

  .hello {
    justify-content: space-evenly;
  }

  #logo {
    width: 250px;
    margin-left: 1.8rem;
  }

}
